<!DOCTYPE html>
<html>
    <head>
        <title>{{page.title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <meta name="google-site-verification" content="Ixp0C4c-hRzPvH3H3Xf0RR5WVlnkZFtyePJ7CYDEXfE" />
    </head>
    <body>
        <nav>
            <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/publication">Publications</a></li>
                    <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">
        {{content}}
        </div><!-- /.container -->
        
        
        <footer>
            <ul>
                <li><a href="mailto:yang.guo5@students.mq.edu.au">email</a></li>
                <li><a href="https://github.com/yangguomq">github.com/yangguomq</a></li>
            </ul>
		Last Update: June, 2020
        </footer>
    </body>
</html>
